---

- hosts: devboks #all
  become: False
  gather_facts: yes
  user:  vagrant 
  vars:
    ssh_user: vagrant 
    docker_hub_username: devboksdotcom
    docker_hub_pwd: "*****"  
    ceos_version: "4.23.2F"
    ceos_image: "devboksdotcom/ceosimage"      
    github_public_keystore: https://github.com/tonikalombo.keys        
    ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'     
    pip_install_packages:
      - name: docker  
  roles:
    - devboks.bionic.bootstrap    
    - geerlingguy.pip
    - geerlingguy.docker
    - devboks.docker.sudoer.role
    - devboks.authorizedkeys.setup
  
